{
    acme_dns porkbun {
        api_key {env.PORKBUN_API_KEY}
        api_secret_key {env.PORKBUN_SECRET_API_KEY}
    }
}

jellyfin.sebastianastalos.com {
    reverse_proxy 192.168.1.131:8096 {
        header_up Host {upstream_hostport}
    }
}

immich.sebastianastalos.com {
    reverse_proxy 192.168.1.131:2283
}

seerr.sebastianastalos.com {
    reverse_proxy 192.168.1.131:5055
}

sonarr.sebastianastalos.com {
    reverse_proxy 192.168.1.131:8989
}

radarr.sebastianastalos.com {
    reverse_proxy 192.168.1.131:7878
}

prowlarr.sebastianastalos.com {
    reverse_proxy 192.168.1.131:9696
}

bazarr.sebastianastalos.com {
    reverse_proxy 192.168.1.131:6767
}

autobrr.sebastianastalos.com {
    reverse_proxy 192.168.1.131:7474
}

grafana.sebastianastalos.com {
    reverse_proxy 192.168.1.131:3002
}

dozzle.sebastianastalos.com {
    reverse_proxy 192.168.1.131:9999
}

scrutiny.sebastianastalos.com {
    reverse_proxy 192.168.1.131:8086
}

truenas.sebastianastalos.com {
    reverse_proxy 192.168.1.131:81
}

home.sebastianastalos.com {
    reverse_proxy 192.168.1.131:3000
}

sabnzbd.sebastianastalos.com {
    reverse_proxy 192.168.1.131:8085
}

code.sebastianastalos.com {
    reverse_proxy 192.168.1.131:8444
}

tracearr.sebastianastalos.com {
    reverse_proxy 192.168.1.131:3003
}

uptime-kuma.sebastianastalos.com {
    reverse_proxy 192.168.1.131:3001
}

ntfy.sebastianastalos.com {
    reverse_proxy 192.168.1.131:8095
}

jellystat.sebastianastalos.com {
    reverse_proxy 192.168.1.131:3004
}

adguard.sebastianastalos.com {
    reverse_proxy 192.168.1.131:8070 {
        header_up Host {upstream_hostport}
    }
}

