- Media:
    - Jellyfin:
        icon: jellyfin.png
        href: http://<your-nas-ip>:8096
        description: Media Server
        siteMonitor: http://<your-nas-ip>:8096
        widget:
          type: jellyfin
          url: http://<your-nas-ip>:8096
          key: <jellyfin-api-key>
          enableBlocks: true
    - Seerr:
        icon: overseerr.png
        href: http://<your-nas-ip>:5055
        description: Media Requests
        siteMonitor: http://<your-nas-ip>:5055
        widget:
          type: seerr
          url: http://<your-nas-ip>:5055
          key: <seerr-api-key>
    - Immich:
        icon: immich.png
        href: http://<your-nas-ip>:2283
        description: Photo Backup
        siteMonitor: http://<your-nas-ip>:2283

- Arr Stack:
    - Sonarr:
        icon: sonarr.png
        href: http://<your-nas-ip>:8989
        description: TV & Anime
        siteMonitor: http://<your-nas-ip>:8989
        widget:
          type: sonarr
          url: http://<your-nas-ip>:8989
          key: <sonarr-api-key>
    - Radarr:
        icon: radarr.png
        href: http://<your-nas-ip>:7878
        description: Movies
        siteMonitor: http://<your-nas-ip>:7878
        widget:
          type: radarr
          url: http://<your-nas-ip>:7878
          key: <radarr-api-key>
    - Prowlarr:
        icon: prowlarr.png
        href: http://<your-nas-ip>:9696
        description: Indexer Manager
        siteMonitor: http://<your-nas-ip>:9696
        widget:
          type: prowlarr
          url: http://<your-nas-ip>:9696
          key: <prowlarr-api-key>
    - Profilarr:
        icon: mdi-tune-variant
        href: http://<your-nas-ip>:6868
        description: Quality Profiles
        siteMonitor: http://<your-nas-ip>:6868

- Downloads:
    - qBittorrent:
        icon: qbittorrent.png
        href: http://<your-nas-ip>:8082
        description: Torrent Client
        siteMonitor: http://<your-nas-ip>:8082
        widget:
          type: qbittorrent
          url: http://<your-nas-ip>:8082
          username: <webui-username>
          password: <webui-password>
    - SABnzbd:
        icon: sabnzbd.png
        href: http://<your-nas-ip>:8085
        description: Usenet Client
        siteMonitor: http://<your-nas-ip>:8085
        widget:
          type: sabnzbd
          url: http://<your-nas-ip>:8085
          key: <sabnzbd-api-key>
    - GlueTUN:
        icon: gluetun.png
        href: http://<your-nas-ip>:8000
        description: VPN Container
        siteMonitor: http://<your-nas-ip>:8888
        widget:
          type: gluetun
          url: http://<your-nas-ip>:8000

- System:
    - TrueNAS:
        icon: truenas.png
        href: http://<your-nas-ip>
        description: NAS Management
        siteMonitor: http://<your-nas-ip>
    - Homepage:
        icon: homepage.png
        href: http://<your-nas-ip>:3000
        description: Dashboard
        siteMonitor: http://<your-nas-ip>:3000
    - Code Server:
        icon: vscode.png
        href: http://<your-nas-ip>:8443
        description: VS Code Editor
        siteMonitor: http://<your-nas-ip>:8443
    - Tailscale:
        icon: tailscale.png
        href: https://login.tailscale.com/admin/machines
        description: Remote Access
        widget:
          type: tailscale
          deviceid: <tailscale-device-id>
          key: <tailscale-api-key>
